*{
    margin:0;
    padding:0;
}

.Cabecalho {
    background-color: rgb(25, 0, 255);
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu a {
    color:#fff;
    text-decoration: none;
    margin-left: 15px;
}
.menu a:hover {
    color:red;
}
.conteudo {
        display: flex;
        height: 200px;
}
.Navegacao {
    background-color: rgb(230, 103, 103);
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
}

.Navegacao ul {
list-style: none;
padding: 0;
}
.Navegacao li

.Secao {
background-color: rgb(25, 0, 255);
color: #fff;
display:inline-block;
width: 70%;
padding: 10px;
}

.secao p{
    margin-bottom: 10px;
}

.Rodape {
background-color: rgb(230,103, 103) ;
}